<div id="nav">
    <a ng-href="/">Home</a>
    <a ng-href="/login">Login</a>
    <a ng-href="/register">Register</a>
    <a ng-href="/logout">Logout</a>
</div>

    <h1><center>.:welcome to the bor3d:.</center></h1>
    <h2><center><<-message board under construction->></center></h2>
    <p><center>thank you for your patience</center></p>

  <div class="quickLinksContainer">
    <section class="quickLinks">
      <ul>
        <li><a ng-href="/users">Users</a></li>
        <li><a ng-href="/latest">10 Most Recent Topics</a></li>
      </ul>
    </section>
  </div>

