<h2><center>Message Bored User Family</center></h2>
<br>
<div><center>
  <input type="text" ng-model="userSearch" placeholder="Search for User">
  <br>
  <br>
  <button ng-click="getUser()">Find User</button>
</center></div>

<ul>
  <!-- takes in the data from the controller -->
  <li ng-repeat="user in
  UsersService.users |
  filter: userSearch |
  orderBy: 'name'
  ">
    <a ng-href="/users/{{ user.id }}"><h4>{{ user.name }}</h4></a>
  </li>
</ul>



<!-- ADD/CREATE A NEW USER -->
<!-- <form>
  <input type="text" ng-model="newUser.name" placeholder="Name">
  <button ng-click="addUser()">Add User</button>
</form> -->